@import "../../sass/main.scss";
@import "./abstracts/variables.scss"; // variables are defined after "main.scss", because main.scss have their own variables. We need to overwrite them.

// body {
//   background-color: $clr-primary;
// }

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  // border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $clr-light;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $clr-light-2;
}

.gpt {
  display: flex;
  height: 100vh;
}

.gpt-main-container {
  position: relative;
  background-color: $clr-primary;
  // overflow-y: scroll;
  width: 100%;
}

.gpt-header {
  border: 1px solid;
  height: 40px;
  border-bottom: 1px solid $clr-light;
  background-color: $clr-secondary;
  position: relative;

  &__center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    width: 95%;
  }

  &__menu {
    visibility: visible;
    @include respond(md) {
      visibility: hidden;
    }
  }

  &__text {
    color: $clr-light-2;
    font-size: 1.3rem;
    font-weight: 100;
  }
}

.gpt-textbox {
  width: 100%;
  overflow-y: scroll;
  position: relative;

  &__error,
  &__cancel,
  &__available {
    z-index: 10;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    color: $clr-message;
    background-color: rgb(187, 50, 0);
    padding: min(15px, 3vh) min(40px, 10vw);
    text-align: center;
    border-radius: 6px;
    font-size: 1.1rem;
    box-shadow: 20px -23px 40px -3px rgba(32, 33, 35, 0.1);
  }

  &__msg-container {
    padding: 24px 0;
    background-color: $clr-secondary;

    &__center {
      display: flex;
      position: relative;
      height: 100%;
      width: 80%;
      max-width: 750px;
      margin: 0 auto;
    }
  }

  &__avatar {
    margin-right: min(3vw, 2rem);
    width: 30px;
    height: 30px;
    min-width: 30px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 3px;
    }
  }
  &__gpt-icon {
    background-color: rgb(16, 163, 127);
    border-radius: 3px;
    fill: #ffffff;
  }

  &__message {
    max-width: 90%;
    color: $clr-message;
    font-size: 15.5px;
    line-height: 30px;
  }

  &__play {
    cursor: pointer;
    position: absolute;
    left: 102%;
    font-size: 1.3rem;
    color: $clr-message;
    &:hover {
      color: #ffffff;
    }
  }

  &__pause {
    cursor: pointer;
    position: absolute;
    left: 102%;
    font-size: 1.3rem;
    color: $clr-message;
    &:hover {
      color: #ffffff;
    }
  }

  &__stop {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.7rem 1.3rem;
    border-radius: 2px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid $clr-text;
    cursor: pointer;

    &:hover {
      background-color: $clr-light;
    }

    span:first-child {
      outline: 2px solid #ffffff;
      color: transparent;
      font-size: 0.5rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 0.6rem;
    }
    span:nth-child(2) {
      font-size: 1.1rem;
      margin-left: 1.5rem;
    }
  }
}

.gpt-btn {
  background-color: transparent;
  color: $clr-light-2;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;

  &:hover {
    color: #ffffff;
  }
}

.gpt-sidemenu {
  width: 320px;
  max-width: 80%;
  left: -100%;
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: 999;
  background-color: $clr-dark;
  transition: all 0.6s;

  @include respond(md) {
    position: static;
    top: 0;
    left: 0;
    transition: none;
  }

  &__relative {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  &__new-chat {
    background-color: $clr-dark;
    border: 1px solid $clr-primary;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 0.55rem;
    cursor: pointer;
    height: 45px;
    border-radius: 8px;
    color: #ffffff;
    text-align: left;
    font-size: 15px;

    &:hover {
      background-color: rgba($clr-primary, 0.2);
    }

    span {
      padding-left: 1rem;
    }
  }

  &__chats {
    color: #ffffff;
    width: inherit;
    margin-top: 1rem;
    width: 100%;

    height: 30vh;
    overflow-y: scroll;

    border-bottom: 1px solid $clr-light;

    @include respond(md) {
      & {
        height: 50vh;
      }
    }
  }

  &__chat-button {
    margin-top: 0.4rem;
    position: relative;
    border-radius: 8px;
    width: 97%;
    margin-left: 2.5%;
    cursor: pointer;
    height: 45px;
    background-color: $clr-dark;
    border: none;
    text-align: left;
    align-items: center;
    display: flex;
    color: rgba(#ffffff, 0.9);
    font-size: 16px;
    &:hover {
      background-color: rgba($clr-primary, 0.45);
    }
    span:first-child,
    :nth-child(2) {
      margin-left: 5%;
    }
    span:nth-child(2) {
      display: inline-block;
      width: 65%;
      font-family: "Times New Roman", Times, serif;
      white-space: nowrap;
      overflow: hidden;
    }
    span:nth-child(3),
    span:nth-child(4) {
      position: absolute;
      &:hover {
        color: #ffffff;
      }
    }
    span:nth-child(3) {
      right: 10%;
    }
    span:nth-child(4) {
      right: 3%;
    }
    input {
      display: inline-block;
      width: 55%;
      background-color: $clr-dark;
      border: 1px solid $clr-light;
      margin-left: 3%;
      border-radius: 4px;
      font-family: "Times New Roman", Times, serif;
      color: $clr-message;

      @include respond(sm) {
        width: 65%;
      }
    }
    &__save-edit {
      position: absolute;
      right: 11%;
      width: 17px;
      height: 17px;
      color: $clr-light-2;
      rotate: 90deg;
      cursor: pointer;
      border-radius: 7px;
      background-color: transparent;
      border: none;

      &:hover {
        background-color: $clr-dark;
      }
    }
  }

  &__close {
    display: inline-block;
    position: absolute;
    left: 103%;
    top: 10px;
    font-size: 2rem;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 3px;
    padding: 0.2rem 0.8rem;

    @include respond(md) {
      display: none;
    }
  }
}

.gpt-additional-menu {
  height: calc(100vh - 30vh - 69px);
  overflow-y: scroll;

  @include respond(md) {
    height: calc(100vh - 50vh - 75px);
  }

  &__engine {
    width: 95%;
    margin-top: 1rem;
    margin-left: 2.5%;
    background-color: $clr-dark;
    outline: 1px solid $clr-primary;
    color: $clr-message;
    font-size: 1.3rem;
    border-radius: 4px;
    height: 3rem;
  }

  &__autoplay {
    width: 95%;
    margin-top: 14px;
    margin-left: 2.5%;
    background-color: $clr-dark;
    border: none;
    color: #ffffff;
    font-size: 15px;
    border-radius: 4px;
    height: 3rem;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;

    &:hover {
      background-color: rgba($clr-primary, 0.2);
    }
    span {
      padding-left: 1rem;
    }
  }

  &__clear {
    width: 95%;
    margin-top: 7px;
    margin-left: 2.5%;
    background-color: $clr-dark;
    border: none;
    color: #ffffff;
    font-size: 15px;
    border-radius: 4px;
    height: 3rem;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
    &:hover {
      background-color: rgba($clr-primary, 0.2);
    }
    span {
      padding-left: 1rem;
    }
  }

  &__discord {
    position: relative;
    display: flex;
    align-items: center;
    width: 95%;
    margin-top: 7px;
    margin-left: 2.5%;
    background-color: $clr-dark;
    border: none;
    color: #ffffff;
    font-size: 15px;
    border-radius: 4px;
    height: 3rem;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
    &:hover {
      background-color: rgba($clr-primary, 0.2);
    }
    span {
      padding-left: 1rem;
    }
  }

  &__updates {
    position: relative;
    display: flex;
    align-items: center;
    width: 95%;
    margin-top: 7px;
    margin-left: 2.5%;
    background-color: $clr-dark;
    border: none;
    color: #ffffff;
    font-size: 15px;
    border-radius: 4px;
    height: 3rem;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
    &:hover {
      background-color: rgba($clr-primary, 0.2);
    }
    span {
      padding-left: 1rem;
    }
  }
}

.chat-gpt {
  overflow-y: scroll;
  background-color: $clr-secondary;
  border-top: 1px solid $clr-light;
  height: 90px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;

  @include respond(md) {
    position: relative;
  }

  .bars,
  .microphone {
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    // display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    color: $clr-additional;

    & * {
      width: 100%;
      height: 100%;
    }
  }

  .microphone-active {
    color: rgb(128, 128, 128);
  }

  .bars {
    right: 100%;
    @include respond(md) {
      right: calc(100% + 5px);
    }
  }
  .microphone {
    left: calc(100% + 20px);
    @include respond(md) {
      left: calc(100% + 25px);
    }
  }
  .microphone {
    cursor: pointer;
    right: 0;
  }

  &__send {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 17px;
    height: 17px;
    color: $clr-light-2;
    rotate: 90deg;
    cursor: pointer;
    border-radius: 7px;
    background-color: transparent;
    border: none;

    &:hover {
      background-color: $clr-dark;
      padding: 0.21rem;
    }
  }

  &__result {
    box-sizing: content-box;
    // height: 40px;
    position: absolute;
    width: 70%;
    max-width: 750px;
    left: 50%;
    transform: translateX(-50%);
    top: 8%;
    background-color: $clr-tertiary;
    border-radius: 6px;

    @include respond(sm) {
      width: 85%;
    }

    textarea {
      background-color: $clr-tertiary;
      position: absolute;
      top: 50%;
      left: 2%;
      width: 98%;
      transform: translateY(-50%);
      resize: none;
      color: #ffffff;
      font-family: inherit;
      font-size: 1.3rem;
    }
  }

  &__version {
    position: absolute;
    bottom: 20%;
    color: $clr-text;
    text-align: center;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);

    @include respond(sm) {
      bottom: 5%;
    }
    @include respond(md) {
      bottom: 18%;
    }

    span:first-child {
      display: inline-block;
      margin-right: 0.3rem;
      text-decoration-line: underline;
    }
    span:nth-child(2) {
      display: none;
    }

    @include respond(sm) {
      span:nth-child(2) {
        display: inline;
      }
    }
  }
}

.overlay {
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 79, 95);
  opacity: 0;
  transition: 0.3s all;

  @include respond(md) {
    display: none;
  }
}

.visible-overlay {
  opacity: 0.6;
}

.light {
  background-color: $clr-primary;
}

//
.none {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

.bg-selected {
  background-color: $clr-secondary;
}

.transition-popup {
  top: 10%;
  opacity: 0;
}
