@import "../../sass/main.scss"; // styles applied for every page (openai, chatbot, dalle2 etc.)
@import "./main.scss"; // styles applied for every openai page

.openai-hero {
  height: 103vh;
  position: relative;

  video,
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
  }
}

.openai__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // background-color: rgba(138, 138, 138, 0.75);
  backdrop-filter: blur(20px);
  height: 25px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    &:first-child {
      font-weight: bold;
      font-size: 1.1rem;
    }
    &:not(:first-child) {
      display: none;
    }
    span:first-child {
      padding-right: 1.2rem;
    }
    span:first-child:hover {
      color: $clr-primary-hover;
    }
    span:nth-child(2):hover {
      color: $clr-primary-hover;
    }

    @include respond(sm) {
      &:last-child {
        display: inline;
      }
      &:not(:last-child) {
        display: none;
      }
    }
  }
}
