@import "../../sass/main.scss";

.openai-hero {
  height: 103vh;
  position: relative;

  video {
    height: inherit;
    width: 100%;
    object-fit: cover;
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(138, 138, 138, 0.5);
    height: 25px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: white;
    }
    & span:first-child {
      font-weight: bold;
      font-size: 1.1rem;
    }

    & span:not(:first-child) {
      display: none;
    }
  }
}
