@import "./abstracts/variables";
@import "./abstracts/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  height: 100%;
  object-fit: cover;
  display: block;
}

link:active,
link:visited {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

div {
  outline: 2px solid red;
}
