$clr-primary: rgb(68, 70, 84);
$clr-secondary: rgb(52, 53, 65);
$clr-tertiary: rgb(64, 65, 79);
$clr-additional: #ffffff;
$clr-light: rgb(86, 88, 104);
$clr-light-2: rgba(217, 217, 217, 0.8);
$clr-text: rgb(154, 154, 160);
$clr-dark: rgb(32, 33, 35);
